.active-nav {
    color: green;
    border-bottom: 2px solid green;
}

/* Custom scrollbar styles */
.card-content::-webkit-scrollbar {
    width: 6px;
}

.card-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.card-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Scroll animation */
.animate-fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.intro-section,
.vision-section,
.mision-section {
    opacity: 0;
    transform: translateY(50px);
}